.form input{
    width: 80%;
    margin-bottom: 20px;
    transition: 0.1s linear;
    padding: 8px 12px;
}
.form label{
    margin: 3px 0;
    font-weight: 600;
}

.form input:focus{
    outline: 3px  solid;
    outline-color:  var(--bg-primary);
    outline-style: ridge;
}
select {
    padding: 10px 20px;
    border-radius: 0.2rem;
    background: transparent !important;
    color: #797979 !important;
    border: 1px solid rgb(173, 173, 173);
    width: 80%;
}
.form h6{
    font-weight: 600;
}
.form p{
    color: #a7a7a7;
    margin: 2px 0;
}
button{
    float: left;
    margin: 20px 0;
}