.info_image-container{
    height: 500px;
    background-color: #d6d6d67c;
}
.info_image-container>.img{
    background-image: url("../../assets/fabian-albert-KqpoiWI4-00-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.type_image-btn{
    display: block;
    color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0 5px 25px 0;
    width: 100px;
    height: 40px;
    position: relative;
}
.type_image-btn input{
    opacity: 0;
    z-index: 100;
    
}
.type_image-btn label{
    line-height: 1.8em;
    font-weight: 200;
    font-size: 14px;
    color: rgb(8, 8, 8);
    background-color: #d8d8d8 ;
    padding: 5px 15px;
    
}
.type_image-btn label,
.type_image-btn input {
  display: block;
  cursor: pointer;
}

input[type="radio"]:checked + label{
    background-color: var(--bg-primary) !important;
    border: 1px solid var(--bg-primary);
    color: aqua;
    border-radius: 4px;
}