.forgot-password{
    /* background-color: aqua; */
    height: 250px;
    width: 500px;
    margin: auto;
    
}
.forgot-password p{
    font-weight: 800;
    margin: 20px 0;
}
.forgot-password input{
    background:transparent;
    border: 1px solid gray;
    border-radius: .3rem;
    outline: none;
    padding: 5px 10px;
    color: rgb(36, 36, 36);
}