.reset-password{
    /* background-color: aqua; */
    height: 350px;
    width: 500px;
    margin: auto;
}
.reset-password p{
    font-weight: 800;
    margin: 20px 0;
}
.reset-password input{
    background:transparent;
    border: 1px solid gray;
    border-radius: .3rem;
    outline: none;
    padding: 5px 10px;
    color: rgb(36, 36, 36);
}