.about-Offer_value{
    position: relative;
    height: fit-content;
    margin: 100px;
}
.about-Offer_value h2{
    font-weight: 600;
}

.about-Offer_value h2,.about-Offer_value p{
    color: rgb(63, 63, 63);
}

.about-Offer_value img{
    object-fit:contain;
}

.about_feature-higlight >div>div{
    padding: 20px;
    height: 250px;
    
}