.input {
  background-color: transparent;
  border-radius: 0.2rem;
  outline: none;
  color: rgb(97, 95, 95);
  padding: 5px 10px;
  margin: 8px 0;
  border: 1px solid rgb(173, 173, 173);
}

.error {
  font-size: 12px;
  color: red;
  margin-bottom: 5px;
  margin-top: 1px;
  border-color: red;
  transition: .5s linear;
}