.offer-info {
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 50%;
    transform: translate(50%);
    color: var(--bg-light-dark);
}

.offer-info h1 {
    font-size: xx-large;
    font-weight: 700;
}

.offer-info span {
    color: var(--bg-primary);
    font-weight: 900;
}