.container {
    height: 500px;
    overflow: hidden;
}

.dashboard-container {
    height: 30rem;
}

.dashboard-container .dashboard-right-pane {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: blanchedalmond; */
}
/* 
.dashboard-right-pane > .profile-image {
    height: 50%;
    padding: 20px;
} */

.dashboard-right-pane img {
    width: 50%;
    margin: 10px 0;
    border-radius: 50%;
    outline: 5px solid var(--bg-primary);
    padding: 5px;
}

.dashboard-container .dashboard-buttons {
    height: 80%;
    width: 100%;
    /* background-color: aquamarine; */
    overflow: hidden;

}

.dashboard-buttons ul {
    width: 100%;
    padding: 0;
    /* background-color: aqua; */
}

.dashboard-buttons ul li {
    display: block;
    margin: 5px auto;
    width: 100%;
    padding: 8px 10px;
    font-weight: 500;
    border-radius: 0.4rem;
}

.active {
    background-color: var(--bg-primary);
    color: white;
}

.dashboard-left-pane{
    overflow: hidden;
}