
.news-card{
    position: relative;
}
.news-date{
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: var(--bg-primary);
    z-index: 2;
    color: white !important;
}
.news-date > h3{
    color: white;
    font-size: 30px;
    font-weight: 800;
}
.newsImg{
    filter: brightness(80%);
}
.new-img-info{
    width: 85%;
    background-color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    line-height:25px;
    border-radius: 0.3rem;
    box-shadow: 0 2px 15px rgba(36, 36, 36, 0.301);
}