/* ============================================================================= Footer======================================================== */

.footer{
    height: 500px;
    margin-top: px;
    background-color: var(--bg-dark);
    color: white;
}
.footer_container{
    height: 90%;
    display: flex;
    align-items: center;
    text-align: start;
}
.footer h5{
    margin: 30px 5px;
    font-size: 18px;
    font-family:var(--title-fonts);
}
.footer_container p ,.footer_link li{
    line-height: 30px;
    margin: 5px 0;
}
.footer_link{
    padding: 0;
}
.link{
    transition: 0.3s linear ;
    cursor: pointer;
}
.link:hover {
    color: var(--bg-primary);
}
.footer_social_links{
    padding: 0;
    display: flex;
    justify-content: center;
}
.social_link{
    background-color: white;
    padding: 6px 10px;
    border-radius: 50%;
    margin: 0 7px;
    color: var(--bg-primary);
}

.sub__footer{
    background-color: var(--bg-dark);
    padding: 15px 0;
    color: white;
    border-top: solid 1px rgba(255, 255, 255, .1);
}